.car  {
    width: 600px;
   /* height: 400px; */
}
.btn {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    display: block;
    margin: 50px 100px 200px 200px;
}
.btn:hover {
    background-color: olive;
}
.btn:hover ~ .car {
    display: none;
}